@inject NavigationManager Navigation
@inject scp.filestorage.webui.Auth.ApiTokenAuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="login-display">
            <RadzenIcon Icon="admin_panel_settings" />
            <span class="login-name">@context.User.Identity?.Name</span>
            <RadzenButton Text="Sign out" Icon="logout" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light" Click="@BeginLogOut" />
        </RadzenStack>
    </Authorized>
    <NotAuthorized>
        <RadzenButton Text="Sign in" Icon="login" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Click="@(() => Navigation.NavigateTo("login"))" />
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogOut()
    {
        await AuthenticationStateProvider.SignOutAsync();
        Navigation.NavigateTo("login");
    }
}
