[Unit]
Description=SCP Simple filestore for Linux
Wants=network-online.target

[Service]
WorkingDirectory=/opt/fsc-storage
ExecStart=/usr/bin/dotnet /opt/fsc-storage/scp.filestorage.dll

SyslogIdentifier=fsc-storage
User=fstore
Group=fstore

Restart=always
RestartSec=10
StartLimitIntervalSec=300
StartLimitBurst=5

StandardOutput=journal
StandardError=journal

EnvironmentFile=/etc/default/fsc-storage-env

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/opt/fsc-storage /var/lib/fsc-storage /var/log/fsc-storage

KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
